.btn {
  	background: #34d96e;
  	background-image: -webkit-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -moz-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -ms-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -o-linear-gradient(top, #34d96e, #2980b9);
  	background-image: linear-gradient(to bottom, #34d96e, #2980b9);
  	-webkit-border-radius: 28;
  	-moz-border-radius: 28;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 60px;
  	padding: 12px 20px 10px 20px;
  	text-decoration: none;
}


.btn:disabled {
    background: #B80000;
} 

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.list_btn{	
	background: #34d96e;
  	background-image: -webkit-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -moz-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -ms-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -o-linear-gradient(top, #34d96e, #2980b9);
  	background-image: linear-gradient(to bottom, #34d96e, #2980b9);
  	-webkit-border-radius: 28;
  	-moz-border-radius: 28;
  	border-radius: 10px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 12px;
  	padding: 4px 4px 4px 4px;
  	text-decoration: none;
}

.form_btn{	
	background: #34d96e;
  	background-image: -webkit-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -moz-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -ms-linear-gradient(top, #34d96e, #2980b9);
  	background-image: -o-linear-gradient(top, #34d96e, #2980b9);
  	background-image: linear-gradient(to bottom, #34d96e, #2980b9);
  	-webkit-border-radius: 28;
  	-moz-border-radius: 28;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 25px;
  	padding: 12px 20px 10px 20px;
  	text-decoration: none;
}

input[type="text"]
{
    font-size:20px;
}

.flist_font{
	font-family:Arial;
	color: #2980b9;
	font-size: 12px;
	padding: 4px 4px 4px 4px;
  	text-decoration: none;
}

.font{
	font-family:Arial;
	color: #2980b9;
	font-size: 25px;
	padding: 12px 20px 10px 20px;
  	text-decoration: none;
}

.form_font{
	font-family:Arial;
	color: #2980b9;
	font-size: 25px;
  	text-decoration: none;
}
.btn:hover {
  	background: #3cb0fd;
  	text-decoration: none;
}
.form_btn:hover {
	background: #3cb0fd;
  	text-decoration: none;
}

.list_btn:hover {
	background: #3cb0fd;
  	text-decoration: none;
}


.vert_space{
   margin-bottom: 10px;
}

.center {
    	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.background_solid{
	background: #D3D3D3;
}

tr.spaceUnder > td
{
  padding-bottom: 10em;
}

.container {
    width: 100px;
    height: 100px;
}
.conatiner form{
	width: 100%;
    height: auto;
}
/* resize images */
.container img {
    width: 100%;
    height: auto;
}




