.btn {
  	background: #FFFFFF;
  	background-image: -webkit-linear-gradient(top, #FFFFFF, #2980b9);
  	background-image: -moz-linear-gradient(top, #FFFFFF, #2980b9);
  	background-image: -ms-linear-gradient(top, #FFFFFF, #2980b9);
  	background-image: -o-linear-gradient(top, #FFFFFF, #2980b9);
  	background-image: linear-gradient(to bottom, #FFFFFF, #2980b9);
  	-webkit-border-radius: 28;
  	-moz-border-radius: 28;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 60px;
  	padding: 12px 20px 10px 20px;
  	text-decoration: none;
}

input[type="text"]
{
    font-size:20px;
}

.font{
	font-family:Arial;
	color: #ffffff;
	font-size: 60px;
	padding: 12px 20px 10px 20px;
  	text-decoration: none;
}

.btn:hover {
  	background: #3cb0fd;
  	text-decoration: none;
}

.vert_space{
   margin-bottom: 10px;
}

.center {
    background-position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.background_solid{
	background: #ffffff;
}

tr.spaceUnder > td
{
  padding-bottom: 10em;
}



