<!doctype html>
<title>TimeCapsule_claim</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='capsule.css') }}">
<body class="background_solid">
	<div class="center">
	<p class="font"> Claim your capsule! </p>
	<form action="Place_Action_Here">
		<p class="font">Capsule: <input type="text" name="Name" onkeyup="this.form.subbut.disabled = this.value=='' || this.form.Code.value ='' "><br></p>
		<p class="font">Passcode: <input type="text" name="Code" onkeyup="this.form.subbut.disabled = this.value=='' || this.form.Name.value ='' "><br></p>
		<input type="submit" value="Submit" class="btn" diabled="disabled">
	</form>
	</div>
</body>
