<html>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='capsule.css') }}">
    	<body class="background_solid">
		<div class="center">
    		<form method="post" enctype="multipart/form-data">
    			<input type="Text" name="CapsuleName" style="font-size:35px" size="40"></input>
   		 	<input type="Password" name="CapsulePassword" style="font-size:35px" size="40"></input>
    			<input type="File" class="btn" name="FileToUpload" style="font-size:35px" size="40"></input>
   	 		<input type="File" class="btn" name="FileToUpload2" style="font-size:35px" size="40"></input>
    			<input type="File" class="btn" name="FileToUpload3" style="font-size:35px" size="40"></input>
    			<input class="btn" type="submit" value="Submit Capsule!"></input>
    		</form>
		</div>
		<form method="get" action="/">
				<input type="image" id="myimage" src="{{ url_for('static', filename='arrow_left.png') }}" />
			</form>
    	</body>
</html>
