<html>
<script>
function post(path, params, method) {
    method = method || "post";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }
    document.body.appendChild(form);
    form.submit();
}
</script>
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='capsule.css') }}">
<body class="background_solid">
	<form method="get" action="/">
				<input class="container" type="image" id="myimage" src="{{ url_for('static', filename='arrow_left.png') }}" />
			</form>
		<a class="form_btn" href="/logout">Logout</a>
	<div class="center">
	<h1 class="font">Capsules you have with us</h1>
	<ul>
	{% for name in my_list %}
        <li class="flist_font">{{name}} <input class="list_btn" type="button" value="Get Capsule" onclick="post('/dlcapuser', {identifier: '{{name}}',username: '{{user_name}}'})"></input></li>
    {% endfor %}
	</ul>
	</div>
</body>
</html>
