<!doctype html>

<title>TimeCapsule_home</title>
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='capsule.css') }}">
<body class="background_solid">
	<div class="center">
		<div class="vert_space">
			<form action="/files" method="GET">
			<p class="font">Get started and make a time capsule.</p>
  			<button type="submit" class="btn" name="submit" value="get_files">Make Capsule</button>
			</form>
			<form action="/dlcap" method="GET">
			<p class="font">Claim a capsule which has already been made.</p>
			<button type="submit" class="btn" name="submit" value="get_claims">Get Capsule</button>
			<p class="font">Or view your capsules.</p>
            </form>
            <form action="/landing" method="GET">
			<button type="submit" class="btn" name="submit" value="get_login">Get My Capsules</button>
            </form>	
		</div>
	</div>
        {% if logged_in == True %}
		<a class="form_btn" href="/logout">Logout</a>
        {% endif %}
</body>

