<!doctype html>
<title>TimeCapsule_login</title>
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='capsule.css') }}">
<body class="background_solid">
	<div class="center">
	<p class="font"> Sign Up </p>
	<form method="POST" enctype="multipart/form-data">
		<p class="font">Email: <input type="text" name="Email" onkeyup="this.form.subbut.disabled = this.value=='' || this.form.Password.value ='' || this.form.Username.value ='' "><br></p>
		<p class="font">Username: <input type="text" name="Username" onkeyup="this.form.subbut.disabled = this.value=='' || this.form.Password.value ='' || this.form.Email.value ='' "><br></p>
		<p class="font">Password: <input type="password" name="Password" onkeyup="this.form.subbut.disabled = this.value=='' || this.form.Username.value ='' || this.form.Email.value ='' "><br></p>
		<input type="submit" value="Submit" class="btn">
	</form>
	</div>
</body>
